{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">
                    Symbol
                </th>
                <th class="text-start">
                    Company name
                </th>
                <th class="text-end">
                    Shares
                </th>
                <th class="text-end">
                    Current Price
                </th>
                <th class="text-end">
                    Total
                </th>
            </tr>
        </thead>

        <tbody>
            {% for stock_info in stock_data: %}
                <tr>
                    <td class="text-start">
                        {{stock_info["symbol"]}}
                    </td>
                    <td class="text-start">
                        {{stock_info["name"]}}
                    </td>
                    <td class="text-end">
                        {{stock_info["shares"]}}
                    </td>
                    <td class="text-end">
                        {{stock_info["price"] | usd}}
                    </td>
                    <td class="text-end">
                        {{stock_info["total"] | usd}}
                    </td>
                </tr>
                {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">
                    Cash
                </td>
                <td class="border-0 text-end">
                    {{cash | usd}}
                </td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">
                    TOTAL
                </td>
                <td class="border-0 text-end">
                    {{total | usd}}
                </td>
            </tr>
        </tfoot>

    </table>
{% endblock %}